{% extends "base.html" %}
{% load static %}


{% block page_content %}
<div class="container">
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
    <h1>Hello, World!</h1>
</div>

<script src="{% static '/js/option_switch.js' %}"></script>
{% endblock %}